{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <br>
    <h2>Quizzes</h2>
    <br>
    <ul class="list-group">
      {% for quiz in object_list %}
        <a href="{% url 'quiz' quiz_id=quiz.id%}" class="list-group-item d-flex justify-content-between align-items-center">
          {{ quiz.name }}
          <span class="badge badge-primary badge-pill">{{ quiz.questions_to_answer }} / {{ quiz.questions.count }}</span>
        </a>
      {% empty %}
        <a href="#"> No Quiz Yet!!</a>
      {% endfor %}
    </ul>
      <br>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="?page={{ 1 }}">First</a></li>
          <li class="page-item"><a class="page-link" href="#"> ... </a></li>
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="#"> ... </a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        </ul>
      </nav>
  </div>
{% endblock %}
